muse-div.fadeDiv {
  display: none;
  opacity: 0;
  text-align: center;
}

muse-div.fadeDiv.show_running {
  display: inline-block;
  transition: opacity .5s ease;
}

muse-div.fadeDiv[show] {
  display: inline-block;
  opacity: 1;
  width: auto;
}

.fullCenter {
	position: fixed;
	width: 100%;
	height: 100%;
  pointer-events: none;
  background-color: rgba(0,0,0,0);
}

#loginCont {
  /* display: none; */
  position: fixed;
  top:0;
  left: 0;
	width: 100%;
	height: 100%;
  pointer-events: none;
  background-color: rgba(0,0,0,0);
  text-align: center;
}

#loginCard {
  position: relative;
  display: inline-block;
	top: -100vh;
  pointer-events: all;
  max-width: 100vw;
  min-width: 50vw;
	/* min-width: 12em; */
  /* width: 80vmin; */
	/* transform: scale(0);
	transform-origin: right top; */
  text-align: center;
}

#loginCard.show_running {
	transition: all .5s cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

#loginCard[show] {
	top: 10vh;
}

#loginCard .cardContent {
  font-size: .65em;
}

#loginCard muse-div {
  width: auto;
}

#loginCard input {
  display: inline-block;
  padding: .5em;
  font-size: 1em;
  box-sizing: border-box;
  border-radius: .25em;
  /* margin-bottom: 2em; */
  border: solid 1px rgba(0,0,0, .2);
}

#loginCard input + div::before {
  content: "\A";
  white-space: pre;
}

#loginCard input + div {
  display: block;
  line-height: 1em;
  height: 1em;
  font-size: .85em;
  color: #a00;
}

#loginCard input::placeholder {
  color: #999;
}

#loginCard but-ton{
  display: inline-block;
}

#loginCard .dividr {
	display: inline-block;
	height: 1px;
	width: 80%;
	background-color: #ddd;
}

.noteText {
	color: #777;
	font-size: 1em;
  cursor: pointer;
}

#account {
  font-size: .5em;
  position: static;
  width: auto;
  height: auto;
  pointer-events: all;
}

#account #add {
  font-size: 2em;
  margin-right: .5em;
}

#account img {
  height: 2em;
  width: 2em;
  background-color: #7af;
}

#acctCard {
	--border-radius: .25em;
	position: fixed;
	display: block;
	top: var(--icon-pos-y);
	right: var(--icon-pos-x);
	transform: scale(0);
	transform-origin: right top;
	z-index: 1001;

  text-align: left;
  border: 1px solid #aaa;
  line-height: 1em;
  font-size: 3em;
}

#acctCard .cardContent {
  margin: .5em;
}

#acctCard.show_running {
	transition: all .25s cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

#acctCard[show] {
  top:6vh;
	transform: scale(1);
}

#acctCard .cardContent div {
  margin: .25em;
}

#acctCard .dividr {
  position: relative;
  left: -.25em;
	display: block;
	height: 1px;
	width: 100%;
	background-color: #ddd;
}
