doctype html
html(lang='en')
  head
    title= title
    script.
      window.museData = {hub: '!{hubName}'}
    script(type='text/javascript' src='/common/src/muse/main.js' main="../../src/app.js")
    link(rel='stylesheet' href="css/style.css")
  body
    div(id='msgText' class='msgText')
